<div class="div-developers" *ngIf="developers" >
  <div *ngFor="let developer of developers" class="div-developer-row">

    <div (click)="delete(developer.id)" class="deleteButton" ><fa-icon [icon]="faTrash"></fa-icon></div>
    <div *ngIf="developer.data" [class.is-ready]="devIsReady(developer.data.storypoints)" class="div-developer"
     >{{developer.data.name}}</div>
    <div *ngIf="developer.data" [class.show]="showResults" class="div-results">{{renderStorypoints(developer.data.storypoints)}}</div>

  </div>

</div>

