.div-issue {
  text-align: center;
  margin-bottom: 20px;

  &.large {
    font-size: 200px;
  }
}

.div-subject {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.div-logout {
  position: fixed;
  right: 10px;
  top: 10px;
  opacity: 0.3;
}

.div-waiting {
  text-align: center;
  margin: 30px;
}

:host {
  display: block;
  min-height: 100vh;
  background: linear-gradient(to top, #141e30, #243b55);
}
