<div [class.middle]="middle" class="div-issue" @fade>
  <div class="div-subject">{{subject}}</div>
  <input #input
    (keyup.enter)="setIssue()"
    [(ngModel)]="issue"
    [disabled]="!edit"
    placeholder="Schätzung für"
    type="text">
    @if (edit) {
      <button (click)="setIssue()" aria-label="Bestätigen" class="icon-btn" type="button">
        <fa-icon [icon]="faCheck"></fa-icon>
      </button>
    }
    @if (!edit) {
      <button (click)="resetIssue()" aria-label="Zurücksetzen" class="icon-btn" type="button">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    }
  </div>
