:host {
  display: flex;
}

.div-issue {
  display: flex;
  align-items: center;

  input {
    flex-grow: 1;
    width: 500px;
  }

  background: var(--surface-2);
  border-radius: var(--radius);
  margin: 0 auto 20px;
  padding: 10px;
  transition: background-color 0.3s ease, margin 0.3s ease;

  &.middle {
    margin-top: 40vh;
  }

  .div-subject {
    color: var(--text-mute);
  }
}

input {
  font-size: 50px;
  text-align: center;
}

