<div [class.middle]="middle" class="div-issue" @fade>
  <div class="div-subject">{{subject}}</div>
  <input #input
    (keyup.enter)="setIssue()"
    [(ngModel)]="issue"
    [disabled]="!edit"
    placeholder="Schätzung für"
    type="text">
    @if (edit) {
      <button (click)="setIssue()">
        <fa-icon [icon]="faCheck" class="button"></fa-icon>
      </button>
    }
    @if (!edit) {
      <button (click)="resetIssue()">
        <fa-icon [icon]="faTimes" class="button"></fa-icon>
      </button>
    }
  </div>
