<div *ngIf="planningId" @fadeTranslateInstant class="div-init">
  <div>Gib Deinen Namen ein um an der Schätzung teilzunehmen</div>
  <div class="div-estimate-id">
    <input (keyup.enter)="goDeveloper()" [(ngModel)]="username" name="Name" placeholder="Name" type="text">
  </div>
  <button (click)="goDeveloper()">Teilnehmen</button>
  <button (click)="goDeveloperLastSession()" *ngIf="hasLastSession()">letzter Session beitreten</button>
  <button (click)="goGuest()">als Gast beitreten</button>
</div>


<div *ngIf="!planningId" @fadeTranslateInstant class="div-init">
  <div>Gib eine Sessionbeschreibung ein um die Schätzung zu starten</div>
  <div class="div-estimate-id">
    <input (keyup.enter)="goMaster()" [(ngModel)]="subject" placeholder="Beschreibung" type="text">
  </div>
  <button (click)="goMaster()">Schätzung starten</button>
  <button routerLink="scan">QR Code Scannen</button>
  <ng-container *ngIf="myPlannings$|async as plannings">
    <button (click)="showMySessions=true" *ngIf="!showMySessions && plannings.length > 0" @fade>Meine Schätzungen
    </button>
    <div *ngIf="showMySessions  && plannings.length > 0" @fade>
      <app-my-sessions [plannings]="plannings"></app-my-sessions>
    </div>
  </ng-container>

</div>
