<div *ngIf="planningId" @fadeTranslateInstant class="div-init">
  <div>Gib Deinen Namen ein um an der Schätzung teilzunehmen</div>
  <div class="div-estimate-id">
    <input (keyup.enter)="goDeveloper()" [(ngModel)]="user" name="Name" placeholder="Name" type="text">
  </div>
  <button (click)="goDeveloper()">Teilnehmen</button>
  <button (click)="goDeveloperLastSession()" *ngIf="hasLastSession()">letzter Session beitreten</button>
  <button (click)="goGuest()">als Gast beitreten</button>
</div>


<div *ngIf="!planningId" @fadeTranslateInstant class="div-init">
  <div>Gib eine Sessionbeschreibung ein um die Schätzung zu starten</div>
  <div class="div-estimate-id">
    <input (keyup.enter)="goMaster()" [(ngModel)]="subject" placeholder="Beschreibung" type="text">
  </div>
  <button (click)="goMaster()">Schätzung starten</button>
  <button routerLink="scan">QR Code Scannen</button>
<!--  #<span *ngIf="loginService.authStateAllowAnonymous$()|async as user"> User{{user.uid}}</span>-->
</div>
