@for (planning of plannings; track planning.id) {
  <div>
    <div class="div-planning-values">
      <div>
        <app-icon-button [icon]="faTrash" label="Löschen" (click)="delete(planning.id)"/>
      </div>
      <div>
        <app-icon-button [icon]="faUsers" label="Teilnehmer anzeigen"
                          (click)="openUser = openUser === planning.id ? null : planning.id"/>
      </div>
      <div>
        <app-icon-button [icon]="faLink" label="Zur Session wechseln" (click)="goto(planning.id)"/>
      </div>
      <div>{{planning.subject}}</div>
      <div>{{planning.modified.seconds * 1000  | date:'dd.MM.yyyy HH.mm'   }}</div>
    </div>
    @if (openUser === planning.id) {
      <div>
        <app-users [planningId]="planning.id"></app-users>
      </div>
    }
  </div>
}
