@for (planning of plannings; track planning.id) {
  <div>
    <div class="div-planning-values">
      <div>
        <button (click)="delete(planning.id)" aria-label="Löschen" class="icon-btn" type="button">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
      <div>
        <button (click)="openUser = openUser === planning.id ? null : planning.id" aria-label="Teilnehmer anzeigen"
        class="icon-btn" type="button">
          <fa-icon [icon]="faUsers"></fa-icon>
        </button>
      </div>
      <div>
        <button (click)="goto(planning.id)" aria-label="Zur Session wechseln" class="icon-btn" type="button">
          <fa-icon [icon]="faLink"></fa-icon>
        </button>
      </div>
      <div>{{planning.subject}}</div>
      <div>{{planning.modified.seconds * 1000  | date:'dd.MM.yyyy HH.mm'   }}</div>
    </div>
    @if (openUser === planning.id) {
      <div>
        <app-users [planningId]="planning.id"></app-users>
      </div>
    }
  </div>
}
