@if (project$|async; as project) {
  <div @fadeTranslateInstant class="edit-project">
    <h1>
      <app-edit-text (textChanged)="updateName($event)" [noUnderscore]="true" [text]="project.name"></app-edit-text>
    </h1>
    <div class="split">
      <div>
        <p>
          Initiale Velocity:
          <app-edit-number (numberChanged)="updateInitialVelocity( $event)"
          [number]="project.initialVelocity" class="initialVelocity"></app-edit-number>
          SP/PT
        </p>
      </div>
      <div>
        <h1>Mitarbeiter</h1>
        <h2 class="section-label">Lesend</h2>
        @for (coReader of project.coReaders; track coReader) {
          <div class="staff">
            <button (click)="removeReader(coReader)" class="icon-btn trash" type="button" aria-label="Mitarbeiter entfernen">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
            <div >{{coReader}}</div>
          </div>
        }
        <div class="split">
          <app-edit-text (textChanged)="editReaderName($event)"
          [text]="newReaderName" placeholder="Benutzer ID"></app-edit-text>
          <button (click)="addReader()" class="add-button" type="button">+ Mitarbeiter hinzufügen</button>
        </div>
        <h2 class="section-label">Schreibend</h2>
      </div>
    </div>
  </div>
}
