<div class="div-scrum-master">

  <app-edit-issue [middle]="!(planning && planning.issue)" [planningId]="planningId"
                  class="div-edit-issue"></app-edit-issue>

  <div *ngIf="planning && planning.issue" @fadeTranslateInstant class="div-results">
    <app-dashboard
      [estimateFailed]="estimateFailed()"
      [estimateRequested]="estimateRequested()"
      [estimateSucceeded]="estimateSucceeded()"
      [storyPoints]="planning.storyPoints"
    ></app-dashboard>
    <app-developers [developers]="developers" [showResults]="!estimateRequested()">
      <div class="div-repeat">
        <button (click)="requestEstimate()" *ngIf="estimateFailed()" @fadeTranslateInstant>Schätzung wiederholen
        </button>
      </div>
    </app-developers>
  </div>

  <div @fadeTranslateInstant class="div-planning-id">
    <fa-icon (click)="showQrCode=true" [icon]="faQrcode" class="button"></fa-icon>
    <fa-icon (click)="copyLink(link())" [icon]="faClipboard" class="button"></fa-icon>
    &nbsp;
    {{link()}}
  </div>
</div>


<div *ngIf="showQrCode" @fadeBlur class="qrcode-background"></div>
<ngx-qrcode (click)="showQrCode=false" *ngIf="showQrCode" @fadeTranslateInstant [scale]="10" [value]="link()">
</ngx-qrcode>
