<div class="div-scrum-master">

  <app-edit-issue [middle]="!(planning && planning.issue)" [planningId]="planningId"
  class="div-edit-issue" #edit></app-edit-issue>

  @if (planning && planning.issue) {
    <div @fadeTranslateInstant class="div-results">
      <app-dashboard
        [estimateFailed]="estimateFailed()"
        [estimateRequested]="estimateRequested()"
        [estimateSucceeded]="estimateSucceeded() || coffeeBreak()"
        [storyPoints]="planning.storyPoints"
      ></app-dashboard>
      <app-developers [developers]="developers" [showIndicators]="!coffeeBreak()"
        [showResults]="!estimateRequested() && !coffeeBreak()">
        <div class="div-repeat">
          @if (estimateFailed()) {
            <button (click)="requestEstimate()" @fadeTranslateInstant class="comment">Schätzung
              wiederholen
            </button>
          }
          @if (estimateSucceeded()) {
            <div class="comment">
              @switch (count) {
                @case (1) {
                  Punktlandung!
                }
                @case (2) {
                  Fast Perfekt!
                }
                @case (3) {
                  Aller guten Dinge sind drei!
                }
                @default {
                  Was lange währt wird endlich gut!
                }
              }
            </div>
          }
          @if (estimateSucceeded()) {
            <button (click)="edit.resetIssue()" @fadeTranslateInstant class="comment">Schätzung
              beenden
            </button>
          }
          @if (coffeeBreak()) {
            <div class="comment">Wir brauchen mal eine Pause!</div>
          }
          @if (coffeeBreak()) {
            <button (click)="resumeAfterCoffeeBreak()" @fadeTranslateInstant class="comment">
              Kaffepause beendet
            </button>
          }
        </div>
      </app-developers>
    </div>
  }

  <div @fadeTranslateInstant class="div-planning-id">
    <fa-icon (click)="showQrCode=true" [icon]="faQrcode" class="button"></fa-icon>
    <fa-icon (click)="copyLink(link())" [icon]="faClipboard" class="button"></fa-icon>
    &nbsp;
    {{link()}}
  </div>
</div>


@if (showQrCode) {
  <div @fadeBlur class="qrcode-background"></div>
}
@if (showQrCode) {
  <qrcode (click)="showQrCode=false" @fadeBlur [qrdata]="link()" [errorCorrectionLevel]="'M'"
  elementType="img" [width]="1000"></qrcode>
}
