<div [class.menu-open]="menuOpen" class="main">
  <div class="menu-button">
    <app-icon-button [icon]="faBars" label="Menü öffnen" (click)="onClickMenuButton()"/>
  </div>
  <div class="menu">
    <app-menu [visible]="menuOpen"></app-menu>
  </div>
  <div class="header">
    <app-header></app-header>
  </div>
  <div [class.fullscreen]="fullscreen$|async" class="outlet outlet-scroll">
    <router-outlet></router-outlet>
  </div>
  @if (menuOpen) {
    <div (click)="onClickMenuButton()" class="outlet backdrop"></div>
  }
</div>
