<div [class.menu-open]="menuOpen" class="main">
  <div class="menu-button">
    <fa-icon (click)="onClickMenuButton()" [icon]="faBars" class="button"></fa-icon>
  </div>
  <div class="menu">
    <app-menu [visible]="menuOpen"></app-menu>
  </div>
  <div class="header">
    <app-header></app-header>
  </div>
  <perfect-scrollbar [class.fullscreen]="fullscreen$|async" class="outlet">
    <router-outlet></router-outlet>
  </perfect-scrollbar>
  <div (click)="onClickMenuButton()" *ngIf="menuOpen" class="outlet backdrop"></div>
</div>
