:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 12px 0;
}

.sprint {
  width: 1000px;
  // border: #fff 1px solid;
  border-radius: 8px;
  /* padding: 20px; */
  margin: 20px;
  padding: 20px;
}

.sp {
  width: 60px;
  display: inline-block;
}


.kw {
  font-size: 0.5em;
  color: #fff5;
  margin-right: 5px;
}

.staff {
  display: grid;
  grid-template-columns: 50px 3fr 1fr 1fr;
}

.center {
  text-align: center;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.spread {
  display: flex;
  justify-content: space-between;

  & > div {
    display: flex;

    & > button {
      margin: 0;
      border: none;
      height: 52px;
      width: 52px;
    }
  }
}

.trash {
  opacity: 0;
  margin-right: 10px;
}

.staff:hover .trash {
  opacity: unset;
}

