@if (projectsOwner$|async; as projects) {
  <div @fadeTranslateInstant class="projects">
    <h1>Sprint Planer</h1>
    @if (projects.length!==0) {
      <div class="list" >
        @for (project of projects; track project.id) {
          <div [routerLink]="project.id" class="project">{{project.name}}</div>
        }
      </div>
    }
    @if (projects.length===0) {
      <div class="empty">Es sind noch keine eigenen Projekte vorhanden.</div>
    }
    @if (projectsReader$|async; as projectsReader) {
      @if (projectsReader.length > 0) {
        <div class="section-label">Leser Mitgliedschaft an Projekten:</div>
        <div class="list follow-up-list">
          @for (project of projectsReader; track project.id) {
            <div [routerLink]="project.id" class="project">{{project.name}}</div>
          }
        </div>
      }
    }
    @if (projectsWriter$|async; as projectsWriter) {
      @if (projectsWriter.length > 0) {
        <div class="section-label">Bearbeiter Mitgliedschaft an Projekten:</div>
        <div class="list follow-up-list">
          @for (project of projectsWriter; track project.id) {
            <div [routerLink]="project.id" class="project">{{project.name}}</div>
          }
        </div>
      }
    }
  </div>
}
