:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  width: 1000px;

}

.list {
  width: 100%;
  // border: #fff 1px solid;
  border-radius: 8px;
  display: grid;
  padding: 0;
}

.project {
  padding: 5px 10px;

  &:hover {
    background: #fff1;
    cursor: pointer;
  }
}
