<span class="timer-label">Timer</span>
@switch (state) {
  @case ('idle') {
    <span class="minutes-field">
      <input [(ngModel)]="minutes" class="form center" max="120" min="1" type="number">
      <span class="minutes-unit">m</span>
    </span>
    <app-icon-button [icon]="faPlay" label="Timer starten" (click)="startTimer()"/>
  }
  @case ('running') {
    <app-icon-button [icon]="faPause" label="Timer pausieren" (click)="pauseTimer()"/>
    <app-icon-button [icon]="faRotateLeft" label="Timer zurücksetzen" (click)="resetTimer()"/>
  }
  @case ('paused') {
    <app-icon-button [icon]="faPlay" label="Timer fortsetzen" (click)="resumeTimer()"/>
    <app-icon-button [icon]="faRotateLeft" label="Timer zurücksetzen" (click)="resetTimer()"/>
  }
}
