<span class="timer-label">Timer</span>
@switch (state) {
  @case ('idle') {
    <span class="minutes-field">
      <input [(ngModel)]="minutes" class="form center" max="120" min="1" type="number">
      <span class="minutes-unit">m</span>
    </span>
    <button (click)="startTimer()" class="icon-btn" type="button" aria-label="Timer starten">
      <fa-icon [icon]="faPlay"></fa-icon>
    </button>
  }
  @case ('running') {
    <button (click)="pauseTimer()" class="icon-btn" type="button" aria-label="Timer pausieren">
      <fa-icon [icon]="faPause"></fa-icon>
    </button>
    <button (click)="resetTimer()" class="icon-btn" type="button" aria-label="Timer zurücksetzen">
      <fa-icon [icon]="faRotateLeft"></fa-icon>
    </button>
  }
  @case ('paused') {
    <button (click)="resumeTimer()" class="icon-btn" type="button" aria-label="Timer fortsetzen">
      <fa-icon [icon]="faPlay"></fa-icon>
    </button>
    <button (click)="resetTimer()" class="icon-btn" type="button" aria-label="Timer zurücksetzen">
      <fa-icon [icon]="faRotateLeft"></fa-icon>
    </button>
  }
}
