<div *ngIf="sprint$|async as sprint" class="sprint">
  <h1>Sprint {{sprint.sprintNumber}}</h1>

  <p>
    von
    <app-edit-date (dateChanged)="updateFromDate(sprint.sprintNumber, $event)" [date]="sprint.fromDate"></app-edit-date>
    bis
    <app-edit-date (dateChanged)="updateToDate(sprint.sprintNumber, $event)" [date]="sprint.toDate"></app-edit-date>
  </p>

  <p>
    Geschaffte Story Points:
    <app-edit-number (numberChanged)="updatePointsAchieved(sprint.sprintNumber, $event)"
                     [number]="sprint.pointsAchieved" class="sp"></app-edit-number>
  </p>

  <hr>

  <h2>Personaleinsatz</h2>

  <div class="staff">

    <div>Name</div>
    <div class="center">Tage</div>
    <div class="center">%</div>

    <ng-container *ngFor="let staff of sprint.availableStaff">
      <app-edit-text (textChanged)="updateStaffName(sprint.sprintNumber, staff.name, $event)"
                     [text]="staff.name"></app-edit-text>
      <app-edit-number (numberChanged)="updateStaffDays(sprint.sprintNumber, staff.name, $event)"
                       [number]="staff.days"></app-edit-number>
      <app-edit-number (numberChanged)="updateStaffPercent(sprint.sprintNumber, staff.name, $event)"
                       [number]="staff.percent"></app-edit-number>
    </ng-container>


    <div>Gesamt</div>
    <div class="center">{{sumDays(sprint.availableStaff)}}</div>
    <div class="center"></div>


  </div>
  <button (click)="addStaff(sprint.sprintNumber)">+ Personal hinzufügen</button>

</div>
