<div class="div-subject">{{subject}}</div>
<div *ngIf="!issue" [@fade] class="div-waiting">Warte auf neue Schätzung</div>


<div *ngIf="issue" [@fade]>
  <div class="div-issue">{{issue}}</div>
  <app-cards (cardSelected)="onCardSelected($event)" *ngIf="estimateRequested" [@fade]></app-cards>
  <app-bubbles *ngIf="estimateRequested"></app-bubbles>
  <div *ngIf="!estimateRequested && estimateSucceeded" [@fade] class="div-issue large">{{renderStoryPoint()}}</div>
  <div *ngIf="!estimateRequested && estimateSucceeded" [@fade] class="div-issue">Punktlandung!</div>
  <div *ngIf="!estimateRequested && !estimateSucceeded" [@fade] class="div-issue">
    Wir müssen reden ...
    <div [@listAnimation]="selectedStoryPoints.length" class="div-graph">
      <div *ngFor="let selectedStoryPoint of selectedStoryPoints|orderBy: 'storyPoint'" class="div-graph-row">
        <div class="div-story-point">{{renderStoryPoints(selectedStoryPoint.storyPoint)}}</div>
        <div [ngStyle]="{'width' :  getWidthPercentage(selectedStoryPoint.count)  +'vw'}"
             class="div-result" title={{selectedStoryPoint.count}}></div>
      </div>
    </div>
  </div>

</div>

