:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sprints {
  width: 1000px;
  border-radius: 8px;
  overflow: hidden;


  .table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    border-style: none;
    width: 100%;
    text-align: center;
    background-color: #fff0;
    margin-bottom: 20px;

    .tr-1 th {
      padding-top: 5px
    }

    .tr-2 th {
      padding-bottom: 5px
    }

    thead {
      background: #fff3;
      overflow: hidden;
      word-break: normal;
      vertical-align: bottom
    }

    td, th {
      padding: 2px 5px;
    }

    tbody tr {
      transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
      background-color: #fff0;

      &:hover {
        background-color: #fff2;
        cursor: pointer;
        opacity: 1;
      }
    }


    td {
      overflow: hidden;
      word-break: normal;
      font-family: "Ubuntu Mono", monospace;
      opacity: 0.8;
    }
  }
}


.forecast {
  color: #ff9900;
}

th.tr-points {
  background: #52acf177;
}

th.tr-velocity {
  background: #ff990077;
}

td.tr-points {
  background: #52acf133;
}

td.tr-velocity {
  background: #ff990033;
}

.kw {
  font-size: 0.5em;
  color: #fff5;
  margin-right: 5px;
}
