@import 'mixins';

:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  // Geroutete Seite in app-root -- kompakte Basis.
  font-size: 0.75em;
}

.div-estimate-id {
  display: flex;
}

input {
  .ui-field();
  padding: 10px;

  &.ng-touched.ng-invalid {
    border: 1px solid red;
  }
}

.div-init {
  padding: 20px;
  display: grid;
  grid-gap: 20px;

  @media only screen and (min-width: 600px) {
    grid-template-columns: 400px;
  }
}
