@if (developers) {
  <div [@listAnimation]="developers.length" class="div-developers">
    @for (developer of sortedDevelopers; track trackById($index, developer)) {
      <div class="div-developer-row">
        <button (click)="delete(developer.id)" aria-label="Entwickler entfernen" class="deleteButton icon-btn" type="button">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
        @if (developer) {
          <div [class.is-ready]="devIsReady(developer.storyPoints) && showIndicators" class="div-developer"
          >{{developer.name}}</div>
        }
        @if (developer) {
          <div [class.show]="showResults"
          class="div-results">{{renderStoryPoints(developer.storyPoints)}}</div>
        }
      </div>
    }
    <ng-content></ng-content>
  </div>
}

