<div *ngIf="developers" [@listAnimation]="developers.length" class="div-developers">
  <div *ngFor="let developer of developers|orderBy:'name'; trackBy:trackById" class="div-developer-row">

    <div (click)="delete(developer.id)" class="deleteButton">
      <fa-icon [icon]="faTrash" class="button"></fa-icon>
    </div>
    <div *ngIf="developer" [class.is-ready]="devIsReady(developer.storypoints)" class="div-developer"
    >{{developer.name}}</div>
    <div *ngIf="developer" [class.show]="showResults"
         class="div-results">{{renderStorypoints(developer.storypoints)}}</div>

  </div>
  <ng-content></ng-content>
</div>

