:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 50px;
  max-width: 1000px;

  display: grid;
  padding: 20px;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "planning velocity"
    "changelog changelog";
}

.changelog {
  grid-area: changelog;
  font-size: 0.8em;
  color: #fffa;
}

.planning {
  grid-area: planning;
}

.velocity {
  grid-area: velocity;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;

  &:hover {
    background: #fff1;
    cursor: pointer;
  }
}

.icon {
  font-size: 8em;
  @media only screen and (max-width: 900px) {
    font-size: 4em;
  }
}

.caption {
  font-size: 2em;

  @media only screen and (max-width: 900px) {
    font-size: 1.1em;
  }
}
