<div class="div-subject">{{subject}}</div>
<div *ngIf="!issue" @fade class="div-waiting">Warte auf neue Schätzung</div>


<div *ngIf="issue" @fade>
  <div class="div-issue">{{issue}}</div>
  <div *ngIf="estimateRequested" @fade class="div-issue">
    Schätzung wird durchgeführt
  </div>
  <div *ngIf="!estimateRequested && estimateSucceeded" @fade class="div-issue large">{{renderStoryPoint()}}</div>
  <div *ngIf="!estimateRequested && estimateSucceeded && coffeeBreak" @fade class="div-issue">Wir brauchen mal eine
    Pause!
  </div>
  <div *ngIf="!estimateRequested && estimateSucceeded && !coffeeBreak" @fade class="div-issue">

    <ng-container [ngSwitch]="count">
      <ng-container *ngSwitchCase="1">Punktlandung!</ng-container>
      <ng-container *ngSwitchCase="2">Fast Perfekt!</ng-container>
      <ng-container *ngSwitchCase="3">Aller guten Dinge sind drei!</ng-container>
      <ng-container *ngSwitchDefault>Was lange währt wird endlich gut!</ng-container>
    </ng-container>
  </div>
  <div *ngIf="!estimateRequested && !estimateSucceeded" @fade class="div-issue">
    Wir müssen reden ...
    <div [@listAnimation]="selectedStoryPoints.length" class="div-graph">
      <div *ngFor="let selectedStoryPoint of selectedStoryPoints|orderBy: 'storyPoint'" class="div-graph-row">
        <div class="div-story-point">{{renderStoryPoints(selectedStoryPoint.storyPoint)}}</div>
        <div [ngStyle]="{'width' :  getWidthPercentage(selectedStoryPoint.count)  +'vw'}"
             class="div-result" title={{selectedStoryPoint.count}}></div>
      </div>
    </div>
  </div>

</div>


<div *ngIf="issue && estimateRequested" @fade class="wrapper">
  <circle-progress
    [animationDuration]="300"
    [animation]="true"
    [innerStrokeColor]="'#fff3'"
    [outerStrokeColor]="'#fff8'"
    [outerStrokeWidth]="16"
    [percent]="chosenPercent"
    [radius]="100"
    [showSubtitle]="false"
    [startFromZero]="false"
    titleColor="#fff5"
    unitsColor="#fff5"
  ></circle-progress>
  <app-bubbles></app-bubbles>
</div>
