<div class="div-subject">{{subject}}</div>
@if (!issue) {
  <div @fade class="div-waiting">Warte auf neue Schätzung</div>
}


@if (issue) {
  <div @fade>
    <div class="div-issue">{{issue}}</div>
    @if (estimateRequested) {
      <div @fade class="div-issue">
        Schätzung wird durchgeführt
      </div>
    }
    @if (!estimateRequested && estimateSucceeded) {
      <div @fade class="div-issue large">{{renderStoryPoint()}}</div>
    }
    @if (!estimateRequested && estimateSucceeded && coffeeBreak) {
      <div @fade class="div-issue">Wir brauchen mal eine
        Pause!
      </div>
    }
    @if (!estimateRequested && estimateSucceeded && !coffeeBreak) {
      <div @fade class="div-issue">
        @switch (count) {
          @case (1) {
            Punktlandung!
          }
          @case (2) {
            Fast Perfekt!
          }
          @case (3) {
            Aller guten Dinge sind drei!
          }
          @default {
            Was lange währt wird endlich gut!
          }
        }
      </div>
    }
    @if (!estimateRequested && !estimateSucceeded) {
      <div @fade class="div-issue">
        Wir müssen reden ...
        <div [@listAnimation]="selectedStoryPoints.length" class="div-graph">
          @for (selectedStoryPoint of selectedStoryPoints; track selectedStoryPoint.storyPoint) {
            <div class="div-graph-row">
              <div class="div-story-point">{{renderStoryPoints(selectedStoryPoint.storyPoint)}}</div>
              <div [ngStyle]="{'width' :  getWidthPercentage(selectedStoryPoint.count)  +'vw'}"
              class="div-result" title={{selectedStoryPoint.count}}></div>
            </div>
          }
        </div>
      </div>
    }
  </div>
}


@if (issue && estimateRequested) {
  <div @fade class="wrapper">
    <app-progress-circle
      [innerStrokeColor]="'var(--border-color)'"
      [outerStrokeColor]="'var(--text-dim)'"
      [outerStrokeWidth]="16"
      [percent]="chosenPercent"
      [radius]="100"
    ></app-progress-circle>
    <app-bubbles></app-bubbles>
  </div>
}
